/sealdice-js-ext-template/
sealdice-js-ext-template
/生活不易/
*.groovy
/屎山区/
.venv
*/.idea
qr-code.*
*/test/
*/data/
*.db
*/郊狼-py后端-海豹插件-QQ/

node_modules/

开发中/SugarReplacer/code/src/wsManager.ts
开发中/AutoGithubPUSH/
杂物堆/NC-WS-event.md
开发中/\[WS\]入群验证.js

QQTEA*
*.env

DGDEV*
\.idea
